*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    position: absolute;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
}

.winner-box{
    background-color: #fff;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hidden {
    display: none;
}

button {
    background-color: rgb(58, 66, 222);
    padding: 10px 16px;
    color: white;
    border: none;
    border-radius: 8px;
}

.allclear{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}